<app-article-header class="title" [text]="'This is header text'" />
<p class="article-text">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam dignissimos expedita sequi natus
  cum perspiciatis architecto quis, fuga nostrum repudiandae dolore, eaque ipsum quo molestias earum
  iusto voluptatibus placeat! Eligendi. Id, aliquid dicta delectus voluptates eos eius non
  perferendis explicabo iure sunt doloribus porro iusto voluptatibus ab natus! Optio, iste
  consequuntur reiciendis similique quam asperiores et ipsam quisquam nihil! Facere! Exercitationem
  mollitia cumque quasi reprehenderit optio ea quaerat dicta itaque architecto. Aperiam modi facere
  quas eius praesentium aliquam quibusdam error soluta ut, porro tempore velit repellat corrupti,
  illo hic temporibus? Animi non ad asperiores, sint corrupti molestias assumenda laborum
  doloremque, explicabo distinctio provident nihil eveniet libero inventore aperiam at! Esse saepe,
  sequi illo quam facere dolore atque maiores ut labore? Quo, alias possimus tempora voluptatibus,
  quia facilis vero, molestias modi optio ducimus aliquid hic sunt ut aut excepturi magni quaerat et
  eaque repudiandae incidunt corporis? Quia sit et quam repellendus!
</p>

<div class="actions">
  <button class="edit">Edit article</button>
  <button class="edit">Read full</button>
</div>
