:host {
  display: grid;
  grid-template-rows: 33px calc(100vh - 230px);
  grid-row-gap: 12px;
  height: 100%;

  .header {
    display: flex;
    justify-content: flex-end;
  }

  .article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 230px);
    gap: 24px;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
  }
}
