.main {
  display: grid;
  grid-auto-rows: max-content max-content 1fr;
  max-width: 1024px;
  min-width: 320px;
  height: 100%;
  margin: auto;
  overflow: hidden;

  &-content {
    width: 100%;
    height: calc(100dvh - 170px);
    overflow: auto;
  }
}
