:host {
  .popover {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 12px;

    label {
      font-size: 12px;
    }

    .colors-title {
      font-size: 12px;
      margin-bottom: 4px;
    }

    .color-pick {
      display: grid;
      grid-template-columns: repeat(6, 20px);
      grid-auto-rows: 20px;
      gap: 8px;

      .color {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid var(--gray-300);
        cursor: pointer;

        &.active {
          outline: 2px solid var(--gray-400);
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 24px;
      margin-top: 12px;
    }
  }
}
