.input {
  background-color: var(--bg-color);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--gray-800);
  max-width: 320px;

  &:focus {
    outline: 2px solid var(--gray-300);
  }

  &[type='color'] {
    padding: 1px;
  }

  &.ng-dirty.ng-invalid,
  &.ng-touched.ng-invalid {
    background-color: color-mix(in srgb, var(--error-color), transparent 90%);
    color: color-mix(in srgb, var(--gray-800), var(--error-color) 50%);
    border-color: var(--error-color);
    outline-color: color-mix(in srgb, var(--error-color), transparent 50%);
  }
}

label {
  position: relative;
  max-width: 320px;
  margin-bottom: 16px;
}

label.inline {
  display: flex;
  align-items: flex-end;

  .input {
    margin-left: 4px;
  }
}

label:not(.inline) {
  display: flex;
  flex-flow: column nowrap;

  > input {
    margin-top: 4px;
  }
}
