@use '../public/styles/input.scss';
@use '../public/styles/form-error.scss';
@use '../public/styles/notification.scss';
@use '../public/styles/popover.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-height: 100%;
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: var(--gray-800);
  background-color: var(--bg-color);
  user-select: none;
}

:root {
  --gray-100: #f5f5f5;
  --gray-200: #e0e0e0;
  --gray-300: #c7c7c7;
  --gray-400: #a8a8a8;
  --gray-500: #8c8c8c;
  --gray-600: #6b6b6b;
  --gray-700: #4a4a4a;
  --gray-800: #2f2f2f; /* text */
  --gray-900: #1a1a1a;
  --gray-950: #0a0a0a;

  --bg-color: #f9f7f1;
  --white: #ffffff;
  --error-color: #e71f1f;
}
