:host {
  display: block;
  height: 100%;

  .editor {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-row-gap: 16px;
    width: 100%;
    height: 50dvh;
    border: 2px solid var(--gray-300);
    border-radius: 8px;
  }

  .text-editor {
    border: none;
    outline: none;
    width: 100%;
    padding: 0 16px;
    overflow-y: auto;
  }

  .text-editor-actions {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    grid-auto-columns: max-content;
    padding: 16px;
    border-bottom: 1px solid var(--gray-300);
  }
}
