<div class="editor">
  <div class="text-editor-actions">
    <app-editor-button [command]="'bold'"
                       [icon]="'bold'"
                       (exec)="execute('bold')" />
    <app-editor-button [command]="'italic'"
                       [icon]="'italic'"
                       (exec)="execute('italic')" />
    <app-editor-button [command]="'underline'"
                       [icon]="'underline'"
                       (exec)="execute('underline')" />

    <app-line [vertical]="true"
              [color]="'var(--gray-200)'" />

    <app-editor-button [command]="'paragraph'"
                       [icon]="'paragraph'"
                       (exec)="execute('paragraph')" />

    <app-editor-button [command]="'comment'"
                       [icon]="'comment'"
                       (exec)="execute('comment')" />

    <app-line [vertical]="true"
              [color]="'var(--gray-200)'" />

    <app-editor-color-button [icon]="'font'"
                             [command]="'textColor'"
                             (exec)="execute($event[0], $event.slice(1))" />
    <app-editor-color-button [icon]="'highlighter'"
                             [command]="'highlightColor'"
                             (exec)="execute($event[0], $event.slice(1))" />

    <app-line [vertical]="true"
              [color]="'var(--gray-200)'" />

    <app-editor-button [command]="'trash'"
                       [icon]="'trash'"
                       (exec)="execute('trash')" />

  </div>

  <div [attr.contenteditable]="contentEditable()"
       #editor
       spellcheck="false"
       class="text-editor">
  </div>
</div>