:host {
  display: block;

  .editor {
    width: 800px;
    height: 500px;
    border: 2px solid var(--gray-300);
    border-radius: 8px;
    padding: 16px;
  }

  .text-editor {
    border: none;
    outline: none;
    width: 100%;
    height: calc(100% - 48px);
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
    grid-auto-columns: max-content;
    margin-bottom: 16px;

    input {
      height: 100%;
    }
  }
}
